{{- if .Values.featureFlags.thorasManageThoras.enabled }}
apiVersion: thoras.ai/v1
kind: AIScaleTarget
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.metricsCollector.labels) | nindent 4 }}
  name: metrics-collector
  namespace: {{ .Release.Namespace }}
spec:
  horizontal:
    mode: recommendation
  model:
    forecast_blocks: 20m0s
    forecast_cron: '*/15 * * * *'
    mode: balanced
  scaleTargetRef:
    kind: Deployment
    name: metrics-collector
  vertical:
    containers:
    - cpu:
        lowerbound: 1m
      memory:
        lowerbound: 1Mi
    containers:
    - cpu:
      memory:
      name: timescaledb
    - cpu:
      memory:
      name: thoras-blob-api
    mode: {{ .Values.featureFlags.thorasManageThoras.mode | default "recommendation" }}
{{- end }}
