{{- if .Values.featureFlags.thorasManageThoras.enabled }}
apiVersion: thoras.ai/v1
kind: AIScaleTarget
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
  name: metrics-collector
  namespace: {{ .Release.Namespace }}
spec:
  horizontal:
    mode: recommendation
  model:
    forecast_blocks: 20m0s
    forecast_cron: '*/15 * * * *'
    mode: balanced
  scaleTargetRef:
    kind: Deployment
    name: metrics-collector
  vertical:
    containers:
    - cpu:
        lowerbound: 1m
      memory:
        lowerbound: 1Mi
      name: metrics-collector
    mode: {{ .Values.featureFlags.thorasManageThoras.mode | default "recommendation" }}
{{- end }}
