---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.metricsCollector.labels) | nindent 4 }}
  name: metrics-collector
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: metrics-collector
  template:
    metadata:
      labels:
        app: metrics-collector
        {{- with include "thoras.componentLabels" (dict "root" $ "component" .Values.metricsCollector.labels) }}
        {{- . | trim | nindent 8 }}
        {{- end }}
      {{- if or .Values.metricsCollector.timescale.config.enabled .Values.metricsCollector.podAnnotations }}
      annotations:
        {{- if .Values.metricsCollector.timescale.config.enabled }}
        checksum/configmap: {{ include (print $.Template.BasePath "/collector/configmap.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.metricsCollector.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: {{ .Values.metricsCollector.serviceAccount.name }}
      {{- if and .Values.imageCredentials.imagePullSecretInDeployment .Values.imageCredentials.secretRef }}
      imagePullSecrets:
      - name: {{ .Values.imageCredentials.secretRef }}
      {{- end }}
      volumes:
      {{- if .Values.metricsCollector.timescale.config.enabled }}
        - name: timescale-config
          configMap:
            name: thoras-timescale-config
      {{- end }}
      {{- if .Values.metricsCollector.persistence.enabled }}
        - name: elastic-search-data
          persistentVolumeClaim:
            claimName:  elastic-search-data
      {{- else }}
        - name: timescale-data
          emptyDir: {}
      {{- end }}
      {{- if .Values.metricsCollector.persistence.enabled }}
      initContainers:
      - name: fix-dir-ownership
        image: {{ .Values.imageCredentials.registry }}/alpine:{{ .Values.metricsCollector.init.imageTag }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ALL]
        command: ["/bin/sh", "-c"]
        args:
          - |
            mkdir -p /var/lib/share/postgresql /var/lib/share/blobs
        {{- if .Values.metricsCollector.init.resources }}
        resources: {{ .Values.metricsCollector.init.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.metricsCollector.init.limits | toYaml | nindent 12 }}
          requests: {{ .Values.metricsCollector.init.requests | toYaml | nindent 12 }}
        {{- end }}
        volumeMounts:
          - mountPath: /var/lib/share
            name: elastic-search-data
      {{- end }}
      containers:
      - image: {{ .Values.imageCredentials.registry }}/{{ .Values.metricsCollector.timescale.image }}:{{ .Values.metricsCollector.timescale.imageTag }}
        name: timescaledb
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ALL]
        {{- if .Values.metricsCollector.timescale.config.enabled }}
        command: ["docker-entrypoint.sh"]
        args: ["-c", "config_file=/etc/postgresql.conf"]
        {{- end }}
        ports:
        - containerPort: {{ .Values.metricsCollector.timescale.containerPort }}
        env:
          - name: "POSTGRES_PASSWORD"
            valueFrom:
              secretKeyRef:
                name: thoras-timescale-password
                key: password
        {{- if .Values.metricsCollector.persistence.enabled }}
          - name: "PGDATA"
            value: /var/lib/share/postgresql
        {{- end }}
        {{- if .Values.metricsCollector.timescale.resources }}
        resources: {{ .Values.metricsCollector.timescale.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.metricsCollector.timescale.limits | toYaml | nindent 12 }}
          requests: {{ .Values.metricsCollector.timescale.requests | toYaml | nindent 12 }}
        {{- end }}
        volumeMounts:
        {{- if .Values.metricsCollector.timescale.config.enabled }}
          - name: timescale-config
            mountPath: /etc/postgresql.conf
            subPath: custom.conf
        {{- end }}
        {{- if .Values.metricsCollector.persistence.enabled }}
          - mountPath: /var/lib/share
            name: elastic-search-data
        {{- else }}
          - mountPath: /var/lib/postgresql/data
            name: timescale-data
        {{- end }}
      - image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.metricsCollector.blobService.imageTag }}
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        name: thoras-blob-api
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ALL]
        command: ["/bin/sh", "-c"]
        args:
          - |
            # wait for postgres to be available
            retries=0
            max_retries=48
            until [ $retries -ge $max_retries ]; do
              if pg_isready -h localhost -U postgres; then
                break
              else
                echo "postgres not ready"
                retries=$((retries+1))
                sleep 5
              fi
            done
            if [ $retries -ge $max_retries ]; then
              echo "Failed to connect to database after $max_retries retries"
              exit 1
            fi

            # try to create the "thoras" database if it doesn't exist
            if ! psql -U postgres -h localhost -tc "SELECT 1 FROM pg_database WHERE datname = 'thoras'" | grep -q 1; then
                echo "creating database 'thoras'"
                psql -U postgres -h localhost -c "CREATE DATABASE thoras"
            fi

            # ensure the postgres user has the correct password
            echo "setting password"
            psql -U postgres -h localhost -c "ALTER USER postgres WITH PASSWORD '${POSTGRES_PASSWORD}'";

            ./blob-service
        env:
          - name: SERVICE_CLUSTER_NAME
            value: "{{ .Values.cluster.name }}"
          - name: "POSTGRES_PASSWORD"
            valueFrom:
              secretKeyRef:
                name: thoras-timescale-password
                key: password
          - name: SERVICE_CHART_VERSION
            value: {{ .Chart.Version | quote }}
          - name: SERVICE_PLATFORM_VERSION
            value: {{ .Values.thorasVersion | quote }}
          - name: SERVICE_PORT
            value: {{ .Values.metricsCollector.blobService.containerPort | quote }}
          - name: SERVICE_SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
            {{- if and .Values.slackWebhookUrlSecretRefName .Values.slackWebhookUrlSecretRefKey }}
                name: {{ .Values.slackWebhookUrlSecretRefName }}
                key: {{ .Values.slackWebhookUrlSecretRefKey }}
            {{- else }}
                name: thoras-slack
                key: webhookUrl
            {{- end }}
          - name: SERVICE_SLACK_ERRORS_ENABLED
            value: "{{ .Values.metricsCollector.slackErrorsEnabled | default .Values.slackErrorsEnabled }}"
          - name: SERVICE_LOG_LEVEL
            value: {{ default .Values.logLevel .Values.metricsCollector.blobService.logLevel }}
          - name: SERVICE_STORAGE_FILE_PATH
            value: "/var/lib/share"
          - name: SERVICE_ENABLE_PPROF
            value: {{ .Values.metricsCollector.blobService.pprof.enabled | quote }}
        {{- if .Values.metricsCollector.blobService.resources }}
        resources: {{ .Values.metricsCollector.blobService.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.metricsCollector.blobService.limits | toYaml | nindent 12 }}
          requests: {{ .Values.metricsCollector.blobService.requests | toYaml | nindent 12 }}
        {{- end }}
        {{- if .Values.metricsCollector.persistence.enabled }}
        volumeMounts:
          - mountPath: /var/lib/share
            name: elastic-search-data
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $defaultAffinity := include "thoras.metricsCollector.defaultAffinity" . | fromYaml }}
      {{- if .Values.metricsCollector.useGlobalAffinity }}
        {{- $globalAffinity := .Values.affinity | default dict | deepCopy }}
        {{- $componentAffinity := .Values.metricsCollector.affinity | default dict | deepCopy }}
        {{- $mergedAffinity := mustMerge dict $defaultAffinity $globalAffinity $componentAffinity }}
        {{- with $mergedAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- else }}
        {{- $componentAffinity := .Values.metricsCollector.affinity | default dict | deepCopy }}
        {{- $mergedAffinity := mustMerge dict $defaultAffinity $componentAffinity }}
        {{- with $mergedAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
