{{- if .Values.metricsCollector.persistence.enabled }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elastic-search-data
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if .Values.metricsCollector.persistence.volumeName }}
  volumeName: {{ .Values.metricsCollector.persistence.volumeName }}
  {{- end }}
  storageClassName: {{ .Values.metricsCollector.persistence.storageClassName }}
  accessModes:
    - {{ .Values.metricsCollector.persistence.accessMode | default "ReadWriteOnce" }}
  resources:
    requests:
      storage: {{ .Values.metricsCollector.persistence.pvcStorageRequestSize }}
{{- end }}
