---
apiVersion: v1
kind: Service
metadata:
  name: timescale
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- if or (.Values.labels) (.Values.metricsCollector.labels) }}
          {{- mustMerge .Values.metricsCollector.labels .Values.labels | toYaml | nindent 4 }}
    {{- end }}
spec:
  ports:
  - name: postgres
    port: {{ .Values.metricsCollector.timescale.containerPort }}
    protocol: TCP
    targetPort: {{ .Values.metricsCollector.timescale.containerPort }}
  selector:
    app: metrics-collector
---
apiVersion: v1
kind: Service
metadata:
  name: thoras-blob-api
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.metricsCollector.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ports:
  - name: http
    port: {{ .Values.metricsCollector.blobService.port }}
    protocol: TCP
    targetPort: {{ .Values.metricsCollector.blobService.containerPort }}
  selector:
    app: metrics-collector
