---
apiVersion: v1
kind: Service
metadata:
  name: timescale
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" (mustMerge (dict "Values" (mustMerge (dict "labels" .Values.metricsCollector.labels) .Values)) .) | nindent 4 }}
spec:
  ports:
  - name: postgres
    port: {{ .Values.metricsCollector.timescale.containerPort }}
    protocol: TCP
    targetPort: {{ .Values.metricsCollector.timescale.containerPort }}
  selector:
    app: metrics-collector
---
apiVersion: v1
kind: Service
metadata:
  name: thoras-blob-api
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" (mustMerge (dict "Values" (mustMerge (dict "labels" .Values.metricsCollector.labels) .Values)) .) | nindent 4 }}
spec:
  ports:
  - name: http
    port: {{ .Values.metricsCollector.blobService.port }}
    protocol: TCP
    targetPort: {{ .Values.metricsCollector.blobService.containerPort }}
  selector:
    app: metrics-collector
