{{- if and .Values.imageCredentials.password .Values.imageCredentials.secretRef }}
{{- fail "Error: Both '.Values.imageCredentials.password' and '.Values.imageCredentials.secretRef' are set, but only one should be defined" }}
{{- end }}
{{- if .Values.imageCredentials.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: thoras-secret-registry
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}
