
{{- if .Values.resourceQuota.enabled }}
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: thoras
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  hard:
    pods: {{ .Values.resourceQuota.pods }}
    count/cronjobs.batch: {{ .Values.resourceQuota.cronjobs }}
    count/jobs.batch: {{ .Values.resourceQuota.jobs }}
{{- end }}
