{{- if .Values.featureFlags.thorasManageThoras.enabled }}
apiVersion: thoras.ai/v1
kind: AIScaleTarget
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasForecast.worker.labels) | nindent 4 }}
  name: thoras-forecast-worker
  namespace: {{ .Release.Namespace }}
spec:
  horizontal:
    mode: recommendation
  model:
    forecast_blocks: 20m0s
    forecast_cron: '*/15 * * * *'
    mode: balanced
  scaleTargetRef:
    kind: Deployment
    name: thoras-forecast-worker
  vertical:
    containers:
    - cpu:
        lowerbound: 1m
      memory:
        lowerbound: 1Mi
      name: thoras-forecast-worker
    mode: {{ .Values.featureFlags.thorasManageThoras.mode | default "recommendation" }}
{{- end }}
