---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thoras-forecast-worker
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
spec:
  replicas:  {{ .Values.thorasForecast.worker.replicas }}
  selector:
    matchLabels:
      app: thoras-forecast-worker
  template:
    metadata:
      labels:
        app: thoras-forecast-worker
        {{- include "thoras.labels" (mustMerge (dict "Values" (mustMerge (dict "labels" .Values.thorasForecast.worker.labels) .Values)) .) | nindent 8 }}
      {{- if or .Values.thorasForecast.worker.podAnnotations .Values.thorasForecast.prometheus.enabled }}
      annotations:
        {{- with .Values.thorasForecast.worker.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.thorasForecast.prometheus.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: {{ .Values.thorasForecast.prometheus.port | quote }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Values.thorasForecast.serviceAccount.name }}
      {{- if and .Values.imageCredentials.imagePullSecretInDeployment .Values.imageCredentials.secretRef }}
      imagePullSecrets:
      - name: {{ .Values.imageCredentials.secretRef }}
      {{- end }}
      initContainers:
      - image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.thorasApiServerV2.imageTag }}
        name: wait-for-api-service
        env:
          - name: API_HEALTH_URL
            value: "http://thoras-api-server-v2/health"
        command: ["/bin/sh", "-c"]
        args:
          - |
            curl -s --fail-with-body --retry-all-errors --retry 48 --retry-delay 5 ${API_HEALTH_URL}
            if [ $? -ne 0 ]; then
              echo "Failed to connect to API service"
              exit 1
            fi
        resources: {}
      containers:
      - image: {{ .Values.imageCredentials.registry }}/thoras-forecast:{{ default .Values.thorasVersion .Values.thorasForecast.imageTag }}
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        name: thoras-forecast-worker
        command: [
          "worker",
          "--polling_interval",
          "{{ .Values.thorasForecast.worker.pollingInterval }}"
        ]
        env:
          - name: "LOGLEVEL"
            value: {{ default .Values.logLevel .Values.thorasForecast.logLevel }}
          - name: API_BASE_URL
            value: "http://thoras-api-server-v2"
          - name: FORECAST_TIMEOUT
            value: "{{ default 600 .Values.thorasForecast.worker.forecastTimeout }}"
          - name: OMP_NUM_THREADS
            value: "1"
            {{- with .Values.thorasForecast.worker.retrainSteadyStateHours }}
          - name: RETRAIN_STEADY_STATE_HOURS
            value: {{ (max (float64 (printf "%v" .)) 1.0) | quote }}
            {{- end }}
            {{- with .Values.thorasForecast.worker.retrainOverrideHours }}
          - name: RETRAIN_OVERRIDE_HOURS
            value: {{ (float64 (printf "%v" .)) | quote }}
            {{- end }}
          - name: FORECAST_IGNORE_NEW_PODS
            value: {{ .Values.thorasForecast.ignoreNewPods | ternary "true" "false" | quote }}
          - name: MAX_TIMESERIES_METRIC_CACHE_SIZE_MB
            value: {{ .Values.thorasForecast.worker.maxTimeseriesMetricCacheSizeMb | quote }}
          - name: ENABLE_DECOUPLED_TRAINING
            value: {{ .Values.thorasForecast.enableDecoupledTraining | ternary "true" "false" | quote }}
          - name: TRAINING_JITTER_MINUTES
            value: {{ .Values.thorasForecast.trainingJitterMinutes | quote }}
          {{- if .Values.thorasForecast.prometheus.enabled }}
          - name: METRICS_PORT
            value: {{ .Values.thorasForecast.prometheus.port | quote }}
          {{- end }}
        {{- if .Values.thorasForecast.worker.resources }}
        resources: {{ .Values.thorasForecast.worker.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.thorasForecast.worker.limits | toYaml | nindent 12 }}
          requests: {{ .Values.thorasForecast.worker.requests | toYaml | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $defaultAffinity := include "thoras.thorasForecast.defaultAffinity" . | fromYaml }}
      {{- if .Values.thorasForecast.useGlobalAffinity }}
        {{- $globalAffinity := .Values.affinity | default dict | deepCopy }}
        {{- $componentAffinity := .Values.thorasForecast.affinity | default dict | deepCopy }}
        {{- $mergedAffinity := mustMerge dict $defaultAffinity $globalAffinity $componentAffinity }}
        {{- with $mergedAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- else }}
        {{- $componentAffinity := .Values.thorasForecast.affinity | default dict | deepCopy }}
        {{- $mergedAffinity := mustMerge dict $defaultAffinity $componentAffinity }}
        {{- with $mergedAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
