---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: thoras-api-server-v2
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: thoras-api-server-v2
