---
apiVersion: v1
kind: Service
metadata:
  name: thoras-api-server-v2
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasApiServerV2.labels) | nindent 4 }}
spec:
  ports:
  - name: http
    port: {{ .Values.thorasApiServerV2.port }}
    protocol: TCP
    targetPort: {{ .Values.thorasApiServerV2.containerPort }}
  selector:
    app: thoras-api-server-v2
