---
apiVersion: v1
kind: Service
metadata:
  name: thoras-api-server-v2
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- if or (.Values.labels) (.Values.thorasApiServerV2.labels) }}
          {{- mustMerge .Values.thorasApiServerV2.labels .Values.labels | toYaml | nindent 4 }}
    {{- end }}
spec:
  ports:
  - name: http
    port: {{ .Values.thorasApiServerV2.port }}
    protocol: TCP
    targetPort: {{ .Values.thorasApiServerV2.containerPort }}
  selector:
    app: thoras-api-server-v2
