{{ - if .Values.thorasManageThoras.enabled }}
apiVersion: thoras.ai/v1
kind: AIScaleTarget
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
  name: thoras-slm-api
  namespace: {{ .Release.Namespace }}
spec:
  horizontal:
    mode: recommendation
  model:
    forecast_blocks: 20m0s
    forecast_cron: '*/15 * * * *'
    mode: balanced
  scaleTargetRef:
    kind: Deployment
    name: thoras-slm-api
  vertical:
    containers:
    - cpu:
      name: thoras-slm-api
    mode: {{ .Values.thorasManageThoras.mode | default "recommendation" }}
{{- end }}
