{{- define "thoras.agent.roles" }}
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .rbacNamespace }}
kind: Role
metadata:
  namespace: {{ .rbacNamespace }}
{{- else }}
kind: ClusterRole
metadata:
{{- end }}
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasAgent.labels) | nindent 4 }}
  name: {{ .Values.thorasAgent.serviceAccount.name }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .rbacNamespace }}
kind: RoleBinding
metadata:
  namespace: {{ .rbacNamespace }}
{{- else }}
kind: ClusterRoleBinding
metadata:
  namespace: {{ .Release.Namespace }}
{{- end }}
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasAgent.labels) | nindent 4 }}
  name: {{ .Values.thorasAgent.serviceAccount.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  name: {{ .Values.thorasAgent.serviceAccount.name }}
{{- if .rbacNamespace }}
  kind: Role
{{- else }}
  kind: ClusterRole
{{- end }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.thorasAgent.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}

{{- if .Values.thorasAgent.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasAgent.labels) | nindent 4 }}
  name: {{ .Values.thorasAgent.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
imagePullSecrets:
{{- if .Values.imageCredentials.secretRef }}
  - name: {{ .Values.imageCredentials.secretRef }}
{{- else }}
  - name: thoras-secret-registry
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasAgent.labels) | nindent 4 }}
  name: {{ print .Values.thorasAgent.serviceAccount.name "-thoras" }}
rules:
- apiGroups:
  - thoras.ai
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasAgent.labels) | nindent 4 }}
  name: {{ print .Values.thorasAgent.serviceAccount.name "-thoras" }}
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ print .Values.thorasAgent.serviceAccount.name "-thoras"}}
subjects:
- kind: ServiceAccount
  name: {{ .Values.thorasAgent.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}

  {{- if .Values.rbac.namespaces}}
    {{- range $idx, $namespace := .Values.rbac.namespaces }}
      {{- template "thoras.agent.roles" ($ | deepCopy | merge (dict "rbacNamespace" $namespace) ) }}
    {{- end}}
  {{- else }}
    {{- template "thoras.agent.roles" $ }}
  {{- end }}
{{- end }}
