---
apiVersion: v1
kind: ConfigMap
metadata:
  name: thoras-monitor-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasMonitor.labels) | nindent 4 }}
data:
  config.yaml: |
{{ .Values.thorasMonitor.config | indent 4 }}
