{{- if .Values.thorasMonitor.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thoras-monitor
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thoras-monitor
  template:
    metadata:
      labels:
        app: thoras-monitor
        {{- include "thoras.labels" (mustMerge (dict "Values" (mustMerge (dict "labels" .Values.thorasMonitor.labels) .Values)) .) | nindent 8 }}
      {{- if or (not .Values.thorasMonitor.unittesting) .Values.thorasMonitor.podAnnotations }}
      annotations:
        {{- if not .Values.thorasMonitor.unittesting }}
        checksum/configmap: {{ include (print $.Template.BasePath "/monitor/configmap.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.thorasMonitor.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Values.thorasMonitor.serviceAccount.name }}
      volumes:
      - name: config
        configMap:
          name: thoras-monitor-config
      initContainers:
      - image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.thorasMonitor.imageTag }}
        name: wait-for-api-service
        env:
          - name: API_HEALTH_URL
            value: "http://thoras-api-server-v2/health"
        command: ["/bin/sh", "-c"]
        args:
          - |
            curl -s --fail-with-body --retry-all-errors --retry 48 --retry-delay 5 ${API_HEALTH_URL}
            if [ $? -ne 0 ]; then
              echo "Failed to connect to API service"
              exit 1
            fi
      containers:
      - name: thoras-monitor-v2
        image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.thorasMonitor.imageTag }}
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        command: ["/app/monitor"]
        volumeMounts:
          - name: config
            mountPath: /app/config.yaml
            subPath: config.yaml
            readOnly: true
        env:
          - name: SERVICE_LOG_LEVEL
            value: {{ .Values.thorasMonitor.logLevel | default .Values.thorasMonitor.logLevel | default .Values.logLevel | quote }}
          - name: SERVICE_SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
            {{- if and .Values.slackWebhookUrlSecretRefName .Values.slackWebhookUrlSecretRefKey }}
                name: {{ .Values.slackWebhookUrlSecretRefName }}
                key: {{ .Values.slackWebhookUrlSecretRefKey }}
            {{- else }}
                name: thoras-slack
                key: webhookUrl
            {{- end }}
          - name: SERVICE_SLACK_ERRORS_ENABLED
            value: "{{ .Values.thorasMonitor.slackErrorsEnabled | default .Values.thorasMonitor.slackErrorsEnabled | default .Values.slackErrorsEnabled }}"
          - name: SERVICE_CLUSTER_NAME
            value: "{{ .Values.cluster.name }}"
          - name: SERVICE_THORAS_API_BASE_URL
            value: "http://thoras-api-server-v2"
          - name: SERVICE_ENABLE_METRIC_INTEGRITY_WORKER
            value: {{ .Values.thorasWorker.enableMetricIntegrityWorker | ternary "true" "false" | quote }}
          - name: SERVICE_ENABLE_ACTIVE_SUGGESTION_WORKER
            value: {{ .Values.thorasWorker.enableActiveSuggestionWorker | ternary "true" "false" | quote }}
          - name: SERVICE_CHART_VERSION
            value: {{ .Chart.Version | quote }}
        {{- if .Values.thorasMonitor.resources }}
        resources: {{ .Values.thorasMonitor.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.thorasMonitor.limits | toYaml | nindent 12 }}
          requests: {{ .Values.thorasMonitor.requests | toYaml | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (coalesce .Values.thorasMonitor.affinity .Values.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
