{{- define "thoras.monitor.roles" }}
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .rbacNamespace }}
kind: Role
metadata:
  namespace: {{ .rbacNamespace }}
{{- else }}
kind: ClusterRole
metadata:
{{- end }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  name: "thoras-monitor"
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling.k8s.io
  resources:
  - verticalpodautoscalers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .rbacNamespace }}
kind: RoleBinding
metadata:
  namespace: {{ .rbacNamespace }}
{{- else }}
kind: ClusterRoleBinding
metadata:
  namespace: {{ .Release.Namespace }}
{{- end }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
  name: "thoras-monitor"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  name: "thoras-monitor"
{{- if .rbacNamespace }}
  kind: Role
{{- else }}
  kind: ClusterRole
{{- end }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.thorasMonitor.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end}}

{{- if .Values.thorasMonitor.enabled }}
  {{- if .Values.rbac.namespaces}}
    {{- range $idx, $namespace := .Values.rbac.namespaces }}
      {{- template "thoras.monitor.roles" ($ | deepCopy | merge (dict "rbacNamespace" $namespace) ) }}
    {{- end}}
  {{- else }}
    {{- template "thoras.monitor.roles" $ }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: thoras-monitor-thoras
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
rules:
- apiGroups:
  - thoras.ai
  resources:
  - 'AIScaleTarget'
  - 'aiscaletargets/status'
  - 'aiscaletargets'
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: thoras-monitor-thoras
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: thoras-monitor-thoras
subjects:
- kind: ServiceAccount
  name: {{ .Values.thorasMonitor.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}
