---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
  name: thoras-operator
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.thorasOperator.replicas }}
  selector:
    matchLabels:
      app: thoras-operator
  template:
    metadata:
      labels:
        app: thoras-operator
        name: thoras-operator
        {{- include "thoras.labels" (mustMerge (dict "Values" (mustMerge (dict "labels" .Values.thorasOperator.labels) .Values)) .) | nindent 8 }}
      {{- if or .Values.thorasOperator.podAnnotations .Values.thorasOperator.prometheus.enabled }}
      annotations:
        {{- with .Values.thorasOperator.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.thorasOperator.prometheus.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: {{ .Values.thorasOperator.prometheus.port | quote }}
        {{- end }}
      {{- end }}
      name: thoras-operator
    spec:
      serviceAccountName: {{ .Values.thorasOperator.serviceAccount.name }}
      {{- if and .Values.imageCredentials.imagePullSecretInDeployment .Values.imageCredentials.secretRef }}
      imagePullSecrets:
      - name: {{ .Values.imageCredentials.secretRef }}
      {{- end }}
      volumes:
        - name: system-config
          configMap:
            name: thoras-operator-system-config
        - name: tls
          secret:
            defaultMode: 420
            secretName: thoras-tls-certs
            items:
              - key: cert
                path: tls.crt
              - key: key
                path: tls.key
      initContainers:
      - image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.thorasOperator.imageTag }}
        name: wait-for-api-service
        env:
          - name: API_HEALTH_URL
            value: "http://thoras-api-server-v2/health"
        command: ["/bin/sh", "-c"]
        args:
          - |
            curl -s --fail-with-body --retry-all-errors --retry 48 --retry-delay 5 ${API_HEALTH_URL}
            if [ $? -ne 0 ]; then
              echo "Failed to connect to API service"
              exit 1
            fi
        resources: {}
      containers:
      - image: {{ .Values.imageCredentials.registry }}/services:{{ default .Values.thorasVersion .Values.thorasOperator.imageTag }}
        name: thoras-operator
        imagePullPolicy: "{{ .Values.imagePullPolicy }}"
        env:
          - name: SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
            {{- if and .Values.slackWebhookUrlSecretRefName .Values.slackWebhookUrlSecretRefKey }}
                name: {{ .Values.slackWebhookUrlSecretRefName }}
                key: {{ .Values.slackWebhookUrlSecretRefKey }}
            {{- else }}
                name: thoras-slack
                key: webhookUrl
            {{- end }}
          - name: THORAS_NS
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SERVICE_SLACK_ERRORS_ENABLED
            value: "{{ .Values.thorasOperator.slackErrorsEnabled | default .Values.slackErrorsEnabled }}"
          - name: SERVICE_SLACK_WEBHOOK_URL
            valueFrom:
              secretKeyRef:
            {{- if and .Values.slackWebhookUrlSecretRefName .Values.slackWebhookUrlSecretRefKey }}
                name: {{ .Values.slackWebhookUrlSecretRefName }}
                key: {{ .Values.slackWebhookUrlSecretRefKey }}
            {{- else }}
                name: thoras-slack
                key: webhookUrl
            {{- end }}
          - name: SERVICE_LOG_LEVEL
            value: {{ default .Values.logLevel .Values.thorasOperator.logLevel }}
          - name: SERVICE_CLUSTER_NAME
            value: "{{ .Values.cluster.name }}"
          - name: SERVICE_THORAS_API_BASE_URL
            value: "http://thoras-api-server-v2.thoras.svc.cluster.local"
          - name: FORECAST_IMAGE_PULL_POLICY
            value: "{{ .Values.imagePullPolicy }}"
          - name: MODEL_SKIP_CACHE
            value: "{{ .Values.thorasForecast.skipCache }}"
          - name: SERVICE_QUERIES_PER_SECOND
            value: {{ .Values.thorasOperator.queriesPerSecond | default .Values.queriesPerSecond | quote }}
          {{- with .Values.nodeSelector }}
            {{- $result := list -}}
            {{- range $key, $value := . }}
              {{- $result = append $result (printf "%s:%s" $key $value) }}
            {{- end }}
            {{- $finalString := join "," $result }}
          - name: FORECAST_NODE_SELECTOR
            value: {{ $finalString }}
          {{- end }}
          - name: SERVICE_PORT
            value: {{ .Values.thorasOperator.prometheus.port | quote }}
          {{- with .Values.rbac.namespaces }}
          - name: SERVICE_WATCH_NAMESPACES
            value: {{ join "," . | quote }}
          {{- end }}
          - name: SERVICE_ENABLE_SKIP_SCALING_ON_INSUFFICIENT_DATA
            value: {{ .Values.featureFlags.enableSkipScalingOnInsufficientData | ternary "true" "false" | quote }}
          - name: SERVICE_ENABLE_CRD_SUGGESTION_READS
            value: {{ .Values.featureFlags.enableCRDSuggestionReads | ternary "true" "false" | quote }}
          - name: DATABASE_HOST
            valueFrom:
              secretKeyRef:
                name: thoras-timescale-password
                key: host
          - name: SERVICE_POSTGRESQL_DSN
            value: "$(DATABASE_HOST)/thoras"
        command: [
          "/app/operator"
        ]
        volumeMounts:
          - name: system-config
            mountPath: /app/system-config.yaml
            subPath: system-config.yaml
            readOnly: true
          - name: tls
            mountPath: /tmp/k8s-webhook-server/serving-certs/tls.crt
            subPath: tls.crt
            readOnly: true
          - name: tls
            mountPath: /tmp/k8s-webhook-server/serving-certs/tls.key
            subPath: tls.key
            readOnly: true
        ports:
          - name: https-web-hooks
            containerPort: 9443
          - name: http-metrics
            containerPort: {{ .Values.thorasOperator.prometheus.port }}
        {{- if .Values.thorasOperator.resources }}
        resources: {{ .Values.thorasOperator.resources | toYaml | nindent 10 }}
        {{- else }}
        resources:
          limits: {{ .Values.thorasOperator.limits | toYaml | nindent 12 }}
          requests: {{ .Values.thorasOperator.requests | toYaml | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.thorasOperator.useGlobalAffinity }}
        {{- $globalAffinity := .Values.affinity | default dict | deepCopy }}
        {{- $componentAffinity := .Values.thorasOperator.affinity | default dict | deepCopy }}
        {{- $mergedAffinity := mustMerge dict $globalAffinity $componentAffinity }}
        {{- with $mergedAffinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- else }}
        {{- with .Values.thorasOperator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
