---
apiVersion: v1
kind: Service
metadata:
  name: thoras-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasOperator.labels) | nindent 4 }}
spec:
  ports:
  - name: https-web-hooks
    port: 443
    protocol: TCP
    targetPort: 9443
  - name: http-metrics
    port: {{ .Values.thorasOperator.prometheus.port }}
    protocol: TCP
    targetPort: {{ .Values.thorasOperator.prometheus.port }}
  selector:
    app: thoras-operator
