---
apiVersion: v1
kind: Service
metadata:
  name: thoras-webhooks
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    {{- if or (.Values.labels) (.Values.thorasOperator.labels) }}
      {{- mustMerge .Values.thorasOperator.labels .Values.labels | toYaml | nindent 8 }}
    {{- end }}
spec:
  ports:
  - name: https-web-hooks
    port: 443
    protocol: TCP
    targetPort: 9443
  - name: http-metrics
    port: {{ .Values.thorasOperator.prometheus.port }}
    protocol: TCP
    targetPort: {{ .Values.thorasOperator.prometheus.port }}
  selector:
    app: thoras-operator
