---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: "pods.thoras.ai"
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasOperator.labels) | nindent 4 }}
webhooks:
- name: "pods.thoras.ai"
  namespaceSelector:
    matchExpressions:
      {{- include "thoras.webhooks.excludedNamespaces" . | nindent 6 }}
  rules:
  - apiGroups:   [""]
    apiVersions: ["v1"]
    operations:  ["CREATE"]
    resources:   ["pods"]
    scope:       "Namespaced"
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name: thoras-webhooks
      path: /mutate--v1-pod
  sideEffects: None
  failurePolicy: 'Ignore'
  admissionReviewVersions:
    - v1
- name: "scale.thoras.ai"
  namespaceSelector:
    matchExpressions:
      {{- include "thoras.webhooks.excludedNamespaces" . | nindent 6 }}
  rules:
  - apiGroups:   ["*"]
    apiVersions: ["*"]
    operations:  ["UPDATE"]
    resources:   ["*/scale"]
    scope:       "Namespaced"
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name: thoras-webhooks
      path: /mutate-autoscaling-v1-scale
  sideEffects: None
  failurePolicy: 'Ignore'
  admissionReviewVersions:
    - v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: "validation.thoras.ai"
  labels:
    {{- include "thoras.resourceLabels" (dict "root" . "component" .Values.thorasOperator.labels) | nindent 4 }}
webhooks:
  - name: "ast-validation.thoras.ai"
    namespaceSelector:
      matchExpressions:
        {{- include "thoras.webhooks.excludedNamespaces" . | nindent 8 }}
    rules:
    - apiGroups:   ["thoras.ai"]
      apiVersions: ["v1"]
      operations:  ["CREATE", "UPDATE"]
      resources:   ["aiscaletargets"]
      scope:       "Namespaced"
    clientConfig:
      service:
        namespace: {{ .Release.Namespace }}
        name: thoras-webhooks
        path: /validate-thoras-ai-v1-aiscaletarget
    sideEffects: None
    failurePolicy: 'Ignore'
    timeoutSeconds: 5
    admissionReviewVersions:
      - v1
  - name: "scale-validation.thoras.ai"
    namespaceSelector:
      matchExpressions:
        {{- include "thoras.webhooks.excludedNamespaces" . | nindent 8 }}
    rules:
    - apiGroups:   ["*"]
      apiVersions: ["*"]
      operations:  ["UPDATE"]
      resources:   ["*/scale"]
      scope:       "Namespaced"
    clientConfig:
      service:
        namespace: {{ .Release.Namespace }}
        name: thoras-webhooks
        path: /validate-autoscaling-v1-scale
    sideEffects: None
    failurePolicy: 'Ignore'
    timeoutSeconds: 5
    admissionReviewVersions:
      - v1
