---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: thoras-tls-certsgen
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-10"
  labels:
    {{- include "thoras.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook-certgen
rules:
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
      - mutatingwebhookconfigurations
    verbs:
      - get
      - update
