name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  helm-unit-tests:
    runs-on: ubuntu-latest
    env:
      SKIP: no-commit-to-branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: "v3.19.2"
      - name: Install Helm Unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git --version v1.0.2
      - name: Run Helm Unit Tests
        run: helm unittest ./charts/thoras --chart-tests-path ./charts/thoras/tests
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1
